
/*web page */
body {
  font-family: 
  background-color: 
  height: 100%;
  Display: flex;
  justify-content: 
  align-items: 
}
/*background image */
{

}
/*white box background */
.card {
  background-color: 
  border-radius: 
  border-width: 
  box-shadow: 
  color: 
  font-size: 
  margin: 
  max-width: 
  padding: 
}

